*
*.swp

!/.vim/after/
!/.vim/autoload/
!/.vim/colors/
!/.vim/compiler/
!/.vim/doc/
!/.vim/ftdetect/
!/.vim/ftplugin/
!/.vim/indent/
!/.vim/plugin/
!/.vim/snippets/
!/.vim/syntax/*

!/.bashrc
!/.bash-will
!/.alias
!.gitignore
