*
*.swp
*.netrwhist

!.vim/after/
!.vim/autoload/
!.vim/colors/
!.vim/doc/
!.vim/syntax/
!.vim/plugin/
!.vim/ftplugin/
!.vim/ftdetect/
!.vim/snippets/
!.vim*/

!.bashrc
!.bash-will
!.alias
!.gitignore
